body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}


.navbar {
  top: 0;
  left: 0;
  background-color: #282c34;
  box-shadow: 0px 0px 10px 10px rgb(67 115 229 / 30%);
  z-index: 100;
}

.sidebar {
  height: 100vh;
  padding-top: 80px;
  background-color: #282c34;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar li {
  padding: 10px 5px;
  text-align: center;
}

.sidebar li a {
  text-decoration: none;
}

.main-section {
  padding-top: 70px;
  padding-left: 30px !important;
}